/*Самые большие контейнеры*/

.body { 
    margin: 0;
    background-color: rgb(255, 189, 197);
}

.wrapper {
    background-color: rgb(255, 189, 197);
    margin: 0;
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*Шрифты, цвета*/

.edge-color {
    background-color: rgb(252, 118, 134);
}

p,div,span,button,h1,h2,h3,h4,h5,h6,input {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

/*Отдельно картинка из хедера*/

.headerImg {
    position: relative;
    max-width: 350px;
    height: auto;
    margin: 1%;
}

/*Анимация названия*/

.king-size {
    font-size: xx-large ease;
    font-family: 'WIDE LATIN';
    transition: 0.7s ease-in-out;
}
.king-size:hover {
    transform: scale(1.6);
    color: black;
    background-image: linear-gradient(to right, #e0e0e0, #c0c0c0, #a0a0a0);
    box-shadow: 0 0 10px rgba(192, 192, 192, 0.8);
}

/*Изображения самолетов*/

.planes-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.plane {
    height: 200px;
    width: auto;
}

/*Заявка на покупку*/

.column-request {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.input {
    background-color: bisque;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}

/*Кнопки*/

.button {
    background-color: rgb(241, 77, 96);
    border-color: rgb(241, 77, 96);;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: whitesmoke;
}

.button:hover {
    background-color: rgb(236, 121, 121);
    color: black;
}

/*Инпуты*/

.input-field {
    display: flex;
    flex-direction: column;
    width: 40%;
    color: whitesmoke;
}

/*Ссылка на т-банк*/

.site {
    text-decoration: none;
    transition: 0.1 ease-in-out;
}
.site:hover {
    text-decoration: underline;
}

/*Таблица*/

table {
    border-color: whitesmoke;
    border-spacing: 0;
    border-collapse: collapse;
}

th,td {
    margin: 0;
    padding: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid whitesmoke;
    
}

th {
    background-color: rgb(252, 212, 216);
}

td {
    background-color: rgb(253, 179, 188);
}

/* Основные контейнеры */

.header {
    max-width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
    padding: 30px;
    padding-top: 20px;
    color: whitesmoke;
}

.main-column {
    max-width: 100%;
    min-height: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;   
    gap: 10px;
    margin-bottom: 20px;
}

.bottom {
    margin-top: auto;
    text-align: center;
    min-width: 100%;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Блоки*/

.block {
    width: 850px;
    height: auto;
    background-color: rgb(245, 145, 157);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 17px;
    padding-top: 25px;
    padding-bottom: 25px;
}
